.title
{
    font-family: Helvetica;
    /* text-align: center;  */
}

.entry
{
    /* height */
    line-height: 50px; 
    border: solid rgb(255, 255, 255) 1px;
    vertical-align: middle; 
}

.containerdiv {
  width: 300px;
  border: 2px solid rgb(255, 255, 255);
  padding: 50px;
  margin: 20px;
}